.navBar {
  background-color: #38023b;
  padding: 10px 0;
  text-align: center;
}

.navBar a {
  color: #f5f3f5;
  text-decoration: none;
  margin: 0 20px;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: #38023b;
}

.mainContent {
  margin: 20px auto;
  max-width: 1200px;
}

.container, .container2, .container3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f5f3f5;
  border-radius: 8px;
}

.content h2, .content h3 {
  font-family: 'Poppins', sans-serif;
  color: #38023b;
  margin-bottom: 10px;
}

.content p {
  color: #38023b;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  background-color: #f5f3f5;
  color: #38023b;
  border: 2px solid;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #38023b;
  color: #f5f3f5;
}

footer {
  background-color: #38023b;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #f5f3f5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
  max-height: 190px;
  width: auto;
  height: auto;
  border: 2px solid #38023b;
  border-radius: 20px;
}
